@mixin titulos{
	border-bottom: 4px solid #ed4042;
	font-size: 1em;
	color: #898989;
	width: 120px;
}

@mixin parrafos{
	margin: 0px 2px;
	line-height: 20px;
	font-family: Roboto;
	font-size: $sizeParrafos;
	color: $fontDefect;
}

@mixin iconos{
	color: $colorPrinc;
	font-size: $sizeIcon;
}

@mixin iconosBgRed{

	color: #fff;
	background-color: $colorPrinc;
	font-size: 0.7em;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
}

@mixin hSeis{
	font-size: $sizeH6;
	color: $fontDefect;
}

@mixin estilosSpan{
	color: $colorPrinc;
	font-size: $sizeSpan;
}


@mixin slider{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

}

@mixin rojo-slider($ancho, $top){
	background-color: #ed4042;
	color: #fff;
	width: $ancho;
	height: 25px;
	text-align: center;
	position: absolute;
	top: $top;
}

@mixin descripciones{
	position: absolute;
	background-color: rgba(11,0,0,0.2);
	width: 100%;
	bottom: 0%;


	p{
		line-height: 16px;
		font-size: 12px;
		padding: 5px 15px;
		color: $fontblanc;
	}
	h6{
		padding: 0px 15px;
		color: $fontblanc;
	}
}

@mixin bgPopular($alto){
	width: 100%;
	height:$alto;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

@mixin redes($bg-Redes){
	font-size: 2em;
	text-align: center;
	line-height: 13vh;
	color:#fff;
	width:100%;
	height: 13vh;
	background-color: $bg-Redes;
}

@mixin lineas{
	height: 1px;
  	border: 0;
  	color: #e0e0e0;
  	background-color: #e0e0e0;
  	width: 100%;
}